a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

body {
  overflow-x: hidden;
  transition: all ease 1s;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
