.introducing {
  padding: 106px 0 20px;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;



  @media (min-width: 1170px) {
    justify-content: space-between;
  }
}

.musician {
  max-width: 370px;
  width: 100%;
  height: 470px;
  display: flex;
  align-items: flex-end;
  margin-top: 15px;
}

.vocal {
  background-image: url(../img/john-smith.png);
}

.drum {
  background-image: url(../img/rendi-outhor.png);
}

.guitar {
  background-image: url(../img/renes-odim.png);
}

.official-apps {
  background-image: url("../img/bgrnd-section.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  .container {
    padding: 80px 15px 120px;
  }
}

.text {
    width: 370px;
    height: 80px;
    background-color: $top-color;
  &:hover {
    height: 130px;
    transition: 0.5s;
    .followers-appear {
      display: flex;
    }
  }
}

.material .container {
  padding: 40px 0;
}

.material .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 97px 0 99px;
  }
}

.material .container, .popular-instagram .container {
  display: flex;
}

.popular-instagram {
  .container {
    padding: 30px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1170px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 104px 0 91px;
    }
  }
}

.newsletter {
  padding: 100px 0 70px;
  border-bottom: 1px solid #d2d2d2;
}

.subscribe {
  max-width: 530px;
  border-bottom: 4px solid #999999;
  margin: 0 auto;
}

.name {
  color: #ffffff;
  font-family: Oswald, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  padding: 27px 0 0 17px;
  display: block;
}

.instrument {
  color: #ffffff;
  font-weight: 400;
  line-height: 20px;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  padding-left: 17px;
}