.introducing {
  padding: 106px 0 20px;
  .container {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 5rem;
    overflow: hidden;
  }
  @media (max-width: 1200px) {
    .container {
      width: 405px;
    }
  }
}

.members {
  justify-content: center;
  flex-direction: column;
  .musician {
    margin: 0 45px 0 0;
  }
  @media (max-width: 1200px) {
    .musician {
      margin: 0 22.5px;
    }
  }
}

.musician {
  max-width: 360px;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: flex-end;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.vocal {
  background-image: url(../img/john-smith.png);
}

.drum {
  background-image: url(../img/rendi-outhor.png);

}

.guitar {
  background-image: url(../img/renes-odim.png);
}

.string {
  background-image: url(../img/strings-crop.jpg);
}

.piano {
  background-image: url(../img/piano.jpg);
}

.bass {
  background-image: url(../img/bass.jpg);
}

.official-apps {
  background-image: url("../img/bgrnd-section.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  .container {
    padding: 80px 15px 120px;
  }
}

@media (max-width: 768px) {
  .musician {
    max-width: 100%;
  }
}

.text {
  width: 100%;
  height: 6rem;
  background-color: $main-color;
  transition: 0.5s;
  &:hover {
    height: 130px;
    transition: 0.5s;
    .followers-appear {
      display: flex;
    }
  }
}

.material .container {
  padding: 40px 0;
}

.material .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 0 7rem;
  }
}

.material .container, .popular-instagram .container {
  display: flex;
}

.popular-instagram {
  .container {
    padding: 5rem 15px 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1170px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 104px 0 91px;
    }
  }
}

@media (max-width: 1170px) {
  .feed {
    margin-top: 3rem;
  }
}

.newsletter {
  padding: 100px 0 70px;
  border-bottom: 1px solid #d2d2d2;
}

.subscribe {
  max-width: 530px;
  border-bottom: 4px solid #999999;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  input {
    width: 70%;
    outline: none;
    border: none;
  }

  input::placeholder, input {
    color: #282828;
    font-family: "Droid Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.88px;
    letter-spacing: 3.2px;
  }
}

.icon-right-big {
  color: #df001f;
}

.name {
  color: #ffffff;
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 20px;
  padding: 27px 0 5px 17px;
  display: block;
}

.instrument {
  color: #ffffff;
  font-weight: 400;
  line-height: 20px;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  padding-left: 17px;
}