.top {
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  .link {
    margin: 20px 0;
  }
  nav {
    order: 2;
    @media (min-width: 1500px) {
      order: 1;
    }
  }
  @media (min-width: 1500px) {
    flex-direction: row;
  }
}

h1 {
  order: 1;
  @media (min-width: 1500px) {
    order: 2;
  }
}

header {
  background: {
    image: url(../img/guitarist-bgrnd.png);
    repeat: no-repeat;
    position: top;
    size: cover;
  }

  .link {
    margin: 0 auto;
    order: 3;
    @media (min-width: 1500px) {
      order: 4;
    }
  }

  .container {
    padding: 250px 0 174px;
  }

  h2 {
    margin: 0;
    color: $main-color;
    font-family: "Oswald", sans-serif;
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    color: #333333;
    font-family: "Great Vibes", cursive;
    font-size: 6rem;
    font-weight: 400;
    line-height: 160.5px;
    text-align: center;
    margin: 0 0 90px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  @media (min-width: 680px) {
    flex-direction: row;
  }
  li a {
    color: #ffffff;
    font-family: "Droid Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    padding: 0 25px;
  }
}

.link {
  width: 13rem;
  height: 3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-style-red {
  background-color: $main-color;
  a {
    font-family: "Droid Sans", sans-serif;
    color: #ffffff;
  }
}

.link-style-white {
  a {
    font-family: "Droid Sans", sans-serif;
    color: $main-color;
  }
}

.link-text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
}

.concert-info .link {
  margin: 30px auto;
}

.followers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  order: 4;
  li {
    padding: 0 25px;
    text-align: center;
    white-space: nowrap;
    span {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 3rem;
      text-transform: uppercase;
    }
  }
}

